main {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 10fr;
    gap: 1rem;

    padding: 2rem 5rem;
}

.navbar {
    border-bottom: 1px solid var(--cinza-neutro);
}

.topbar {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: .5rem 1rem;

    border-bottom: 1px solid var(--cinza-neutro);
}

.topbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.botao-secao {
    font-size: 1rem;
    border: none;
    background-color: transparent;
    padding: .5rem 1rem;
    cursor: pointer;
    font-weight: 500;

    transition: color .3s ease;
}

.botao-secao:hover {
    color: var(--verde-claro);
}

.botao-secao-ativa {
    color: var(--verde-claro);
    font-weight: 600;
}

.secao {
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
    display: none;
}

.secao-ativa {
    display: block;
}

.novo-cadastro {
    border: none;
    border-radius: 5px;
    background-color: var(--verde-escuro);
    padding: .5rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--branco);
    cursor: pointer;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.novo-cadastro:hover {
    background-color: var(--verde-escuro-hover);
    color: var(--branco);
}

h1 {
    text-align: center;
    margin: 1.5rem 0;
    font-size: 2rem;
}