main {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 10fr;
    gap: 1rem;

    padding: 2rem 5rem;
}

.navbar {
    border-bottom: 1px solid var(--cinza-neutro);
}

.topbar {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: .5rem 1rem;

    border-bottom: 1px solid var(--cinza-neutro);
}

.topbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

#filtros {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 8fr 1fr;
  width: 60%;
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

#filtros #tipo-filtro {
  border-radius: 0;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  background-color: var(--cinza-neutro);
  color: var(--preto);
}

#filtros .input-busca {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.button {
  border-radius: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}